{% extends 'base.html.twig' %}

{% block body %}
    <ul class="pagination">
        {{ knp_pagination_render(characters) }}
    </ul>
    {% for character in characters %}
        {% if character.status == "Alive" %}
        <div class="card text-white bg-success mb-3" style="max-width: 40rem;">
        {% elseif character.status == "Dead" %}
        <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
        {% else %}
        <div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
        {% endif %}
            <div class="card-header"><h4 class="card-title">{{ character.name }}</h4></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="card-text">Status : {{ character.status }}.</div>
                        <div class="card-text">Race : {{ character.race }}.</div>
                        <div class="card-text">Location : {{ character.location }}.</div>
                        <div class="card-text">Vu pour la première fois dans l'épisode  : {{ character.fisrtSeen }}.</div><br>
                        <div class="row">
                            <div class="col-6">
                                <a href="{{ path('character_show', {'id' : character.id}) }}" class="btn btn-info">En savoir plus.</a>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-6">
                                    <a href="{{ path('character_edit', {'id' : character.id}) }}" class="btn btn-info">Modifier Personnage</a>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a href="{{ path('character_delete', {'id' : character.id}) }}" class="btn btn-danger">Supprimer Personnage</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="{{character.image}}" alt="{{character.name}}" width="175" height="175">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}